@import '~bootstrap/scss/bootstrap';

.stats-table {
  max-height: 500px;
  overflow: scroll;
  page-break-after: always;
}

.navbar {
  background-color: black;
}

.sidebar {
  height: 800px;
  text-align: center;
}

.main-body {
  text-align: center;
}

.btn-group {
  display: flex;
}

.btn-group-1 {
  display: inline-flex;
}

.big-body {
  border: 1px solid black;
  display: flex;
  width: 100%;
  // flex-direction: column;
}

.sidebar {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  width: 10%;

  .ranking {
    &:hover {
      background-color: red;
    }
  }

  .my-players {
    &:hover {
      background-color: red;
    }
  }

  .show-stats-button {
    &:hover {
      background-color: red;
    }
  }

  .season-averages {
    &:hover {
      background-color: red;
    }
  }

  .season-totals {
    &:hover {
      background-color: red;
    }
  }

  .project-2 {
    &:hover {
      background-color: red;
      cursor: pointer;
    }
  }

  .project-2-v2 {
    &:hover {
      background-color: red;
      cursor: pointer;
    }
  }
}

.main-body {
  width: 85%;
}

h1 {
  color: #fff;
}

.players {
  border: 1px solid blue;
}

.hidden {
  display: none;
}
